body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(foto\ de\ fundo.jpg);
}

.container {
    text-align: center;
    background: rgb(179, 224, 222);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    width: 50px;
    margin: 10px;
    color: green;
}
#guessButton{
    color:black;
    background-color: aqua;
    height: 37px;
    
}